@CHARSET "UTF-8";

/* Add ToDo Button View */
#writingFormContainer{
	background-color: #ffffff;
	width: auto;
	height: auto;
    margin-left: auto; margin-right: auto;
    padding:10px;
	z-index: 3;
}

#writingTransparentBorder
{
	height: auto;
	width: auto;
	margin: auto;
	position: absolute;
	opacity: 0.5;
	z-index: 2;
}

img{
	width: 25px;
	height: 25px;
	float: right;
	margin: 5px 5px;
}
/* Add ToDo Button View END*/